* {
  box-sizing: border-box;
}
.drag {
  -webkit-app-region: drag;
}

.nodrag,
input,
select,
textarea,
option {
  -webkit-app-region: no-drag;
}

body {
  width: 100vw;
  height: 100vh;
}

#app {
  // 因为 body 部分与 APP 渲染部分存在重叠，所以需要增加 padding 来为禁止穿透制造时机
  padding: 5px;
}
